body {
	font-family: 'Open Sans', sans-serif;
	color: #2a2b2c;
}
p {
	/*font-family: 'Merriweather', serif;*/
	font-size: 14px;
	font-weight: 300;
	line-height: 25px;
}
@media only screen and (max-width: 767px) {
    #frontpage {
        padding: 75px 0 125px;
    }
}

#frontpage {
	background: url("../images/pexelroad.jpeg");
	background-size: cover;
	height: 100vh;
	align-items: center;
}
#frontpage img {
	margin-top: 25%;
}

.whitefont {
 	color: #ffffff;
 }
/*SKILLS*/
#skills {
	background: url("../images/pexelcity.jpeg") no-repeat fixed;
	background-size: cover;
	padding-top: 75px;
	padding-bottom: 75px;
}
/*EXPERIENCE*/
#experience h3 {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 20px;
}
.work {
	border-bottom: thin solid #EEEEEE;
	padding-top: 25px;
	padding-bottom: 25px;
}
.info {
	padding-top: 15px;
	font-weight: 300;
	text-transform: uppercase;
	border-right: thin solid #EEEEEE;
}
.work-date {
	overflow: hidden;
	height: 30%;
}
 .wrapper {
 	float: right;
	border-bottom: thin solid #EEEEEE;
 	
 }
 .wrapper-left {
 	text-align: center;
 	float: left;
 	margin-left: 5px;
 	margin-right: 5px;
 }
 .wrapper-right {
 	text-align: center;
 	float: right;
 	margin-left: 5px;
 }
 .work-month {
 	font-size: 12px;
 }
 .work-year {
 	font-size: 36px;
 	font-weight: 2000;
 }
 .work-place {
 	font-weight: 300;
 	font-size: 20px;
 }
 .work-position {
 	font-weight: 300;
 	font-size: 12px;
 }
 .work-info {
 	padding-left: 20px;
 	padding-right: 20px;
 }
